extends layout
include _includes/sharedHTMLfunctions

block content
	.row.banner
		.col-12
			h1= prpage[prnum].product.company
				prnum
				small &nbsp;
					#{prpage[prnum].product.name}
	.row
		.col-12.col-lg-9
			.row
				.col-12.col-md-6
					.card.card-primary
						.card-block
							h2.card-title Product Images
							img.img-fluid.rounded(src= prpage[prnum].product.imgSrc)
					p.rating
						+outRating(prpage[prnum].product.rating)
					p= prpage[prnum].product.smalDesc
					each tag in prpage[prnum].product.tags
						| &nbsp;
						span.badge.badge-warning= tag
					| <br>
					button.buybtn Buy Now
					button.addcartbtn Add to Cart
				.col-12.col-md-6
					.card.card-primary
						.card-block
							h2.card-title Product Description
							p.card-text= prpage[prnum].product.desc
					.card.card-primary
						.card-block
							h2.card-title Variety
							each pack in prpage[prnum].product.variation
								p.card-text.qty= pack.qty
									span.qprice= pack.price

			.row
				.col-12
					.card.card-primary.review-card
						.card-block
							a.btn.btn-primary.float-right(href='/product/review/new') Add review
							h2.card-title Customer reviews
							each review in prpage[prnum].reviews
								.row.review
									.col-12.no-gutters.review-header
										span.rating
											+outRating(review.rating)
											| &nbsp;
										span.reviewAuthor=  review.author
										| &nbsp;
										small.reviewTimestamp=  review.date
									.col-12
										p= review.content

		.col-12.col-lg-3
			p.lead= prpage[prnum].sidebar.lead
			p= prpage[prnum].sidebar.last